Source: dde-session-ui
Section: devel
Priority: optional
Maintainer: Deepin Sysdev <sysdev@deepin.com>
Build-Depends:
 dde-dock-dev (>= 5.4~),
 debhelper-compat (=13),
 deepin-gettext-tools,
 libdframeworkdbus-dev (>= 5.4~),
 libdtkcore5-bin (>= 5.5~),
 libdtkwidget-dev (>= 5.5~),
 libgio-qt-dev,
 libglib2.0-dev,
 libgsettings-qt-dev,
 libgtest-dev,
 liblightdm-qt5-3-dev | liblightdm-qt-dev,
 libpam0g-dev,
 libqt5svg5-dev,
 libqt5x11extras5-dev,
 libsystemd-dev,
 libxcb-ewmh-dev,
 libxcursor-dev,
 libxrandr-dev,
 libxtst-dev,
 pkg-config,
 qt5-qmake,
 qtbase5-dev,
 qtdeclarative5-dev,
 qttools5-dev-tools,
Standards-Version: 4.5.1
Homepage: http://www.deepin.org/

Package: dde-session-ui
Architecture: any
Depends:
 dbus-x11,
 dde-daemon (>=5.13.27),
 dde-session-shell,
 deepin-desktop-schemas (>= 5.9~),
 libdframeworkdbus2 (>=5.4~),
 pandoc,
 startdde (>=5.8.15),
 x11-xserver-utils,
 ${dist:Depends},
 ${misc:Depends},
 ${shlibs:Depends},
Provides:
 lightdm-greeter,
Recommends:
 onboard,
Conflicts:
 dde-workspace,
 deepin-notifications,
 startdde (<< 2.91.1),
Replaces:
 deepin-notifications,
Breaks:
 dde-workspace,
 startdde(<< 2.91.1),
Description: deepin desktop-environment - dde-session-ui module
 Deepin desktop environment 2015 - dde-session-ui module.
